.ManageWrapper {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 16px;
  font-family: "宋体","Times New Roman", Times, serif;
}

.leftWrapper {
  flex: 3;

  .subMenu {
    border-radius: 0;
    background-color: #43b344;
    color: #fff;
    font-size: 20px;

    .menuItem {
      color: #000;
      font-size: 18px;
      text-align: center;
      padding: 0 !important;
    }

    :global {
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: rgb(197, 253, 214);

        &::after {
          border-right: 3px solid #43b343;
        }
      }
    }
  }

  button {
    width: 100%;
    font-size: 18px;
    height: 40px;
    background-color: #43b344;
    border-color: #fff;

    &:hover {
      color: #1890ff;
      background-color: #43b344;
      border-color: #fff;
    }
  }
}

.rightWrapper {
  flex: 7;
  margin-left: 50px;
  width: 850px;

  .firstQueryDirectory {
    display: flex;
    padding: 5px 0;
    width: 600px;

    .firstQueryDirectory_right {
      background-color: #43b344;
      color: #fff;
      font-size: 16px;
      height: 40px;
      outline: none;
      border-color: #fff;
      border-radius: 3px;
    }
  }

  .QueryDirectories {
    padding: 5px 0;
    width: 600px;
    input {
      width: 65%;
    }
  }

  .buttons {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;

    button {
      margin: 10px;
      width: 120px;
      height: 45px;
      background-color: #43b344;
      color: #fff;
      font-size: 18px;
      outline: none;
      border-color: #fff;
      border-radius: 3px;
    }
  }
}

:global {
  .ant-form-item-label {
    label {
      width: 160px !important;
      font-size: 18px;
    }
  }
}