.ManageWrapper{
  display: flex;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  border-radius: 6px;
  padding: 16px;
}

.leftWrapper{
  flex:3;
  button{
    width: 100%;
  }
}

.rightWrapper{
  flex:7;
  margin-left: 50px;
  .firstQueryDirectory{
    display: flex;
    padding: 5px 0;
    .firstQueryDirectory_right{
      background-color: #43b344;
      color: #fff;
      font-size: 16px;
      outline: none;
      border-color: #fff;
      border-radius: 3px;
    }
  }
  .QueryDirectories{
    width: 100%;
    padding: 5px 0;
    input{
      width: 30%;
    }
  }
  .buttons{
    display: flex;
    margin: 20px;
    justify-content:flex-start;
    align-items: center;
    button{
      margin: 10px;
      background-color: #43b344;
      color: #fff;
      font-size: 16px;
      outline: none;
      border-color: #fff;
      border-radius: 3px;
    }
  }
}
.subMenu{
  border-radius: 0;
  background-color: #43b344;
  color: #fff;
  font-size: 16px;
  .menuItem{
    color: #000;
    font-size: 14px;
  }
  :global{
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
      background-color: rgb(197, 253, 214);
      &::after{
        border-right: 3px solid #43b343;
      }
    }
  }
}