.footer {
    // margin-top: 2%;
    font-size: 17px;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    color: white;
    background-color: #0E1833;

    .copyright {
        margin-right: 30px;
    }

    .right {
        margin-left: 10px;
    }
}