.footer {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    background-color: #0E1833;
    .copyright {
        margin-right: 30px;
    }
    .right{
        margin-left: 10px;
    }
}
