.groupWrapper {
    min-height: 600px;
    .groupList {
        margin-top: 5%;;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        //margin: 98px auto;
        // overflow: hidden;
        .groupItem {
            // display: flex;
            //float: left;
            padding: 8px;
            // border-bottom: 1px solid #ddd;
            cursor: pointer;
            .group {
                //position: relative;
                flex: 1 0 auto;
                // padding-left: 5px;
                padding:0 50px 50px 50px;
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;

                width: 386px;
                // height: 370px;
                background-color: #ffffff;
                box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.19);
                border-radius: 4px;

                .group-img-wrapper {
                    img {
                        transform: translate(20px,-75px);
                        width: 150px;
                        height:150px;
                        border-radius: 50%;
                    }
                }
                .group-title {
                    // padding-left: 20px;
                    margin-top: -23px;
                    // height: 24px;
                    font-size: 24px;
                    color: #353535;
                    margin-bottom: 22px;
                    // margin-top: 38px;
                }

                span{
                    width: 60px;
                    height: 4px;
                    background-color: #4bb344;
                    border-radius: 2px;
                    display: block;
                    // margin-left: 51px;
                    margin-top: -4px;
                    margin-bottom: 10px;
                }
                .group-subtitle {
                    height: 60px;
                    font-size: 18px;
                    color: #999999;
                    width: 280px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            &:hover,
            &.dark {
                background-color: #f9f9f9;
            }
        }
    }
    .pagination {
        //clear: both;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        padding: 0 8% 20px 0 ;
    }
}