.projectWrapper {
    min-height: 1200px;
    .projectList {
        // width: 1400px;
        padding: 100px 0 0 0;



     
        .projectItem {
            width: 350px;
            // margin: 50px 0;
            font-size: 18px;
            line-height: 25px;

            .projectTitle { 
                margin-left: 100px;
                margin-bottom: 95px;
                color: rgba(0, 0, 0, 0.85);
                width: 1064px;
                height: 25px;
                line-height: 50px;
                font-family: MicrosoftYaHei;
                font-size: 22px;
            }
        
        }
        //     // border-bottom: 1px solid #ddd;
        //     cursor: pointer;
        //     .project {
        //         position: relative;
        //         flex: 1 0 auto;
        //         padding-left: 5px;
        //         .project-date {
        //             // font-weight: 600;
        //             width: 155px;
        //             height: 15px;
        //             font-family: MicrosoftYaHei;
        //             font-size: 18px;
        //             line-height: 15px;
                
        //         }
        //         .projectTitle { 
        //             margin-left: 100px;
        //             margin-top: 60px;
        //             margin-bottom: 95px;
        //             color: rgba(0, 0, 0, 0.85);
        //             width: 1064px;
        //             height: 25px;
        //             line-height: 50px;
        //             font-family: MicrosoftYaHei;
        //             font-size: 22px;
                    // width: 905px;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 9;
                    // -webkit-box-orient: vertical;
                
            
            // &:hover,
            // &.dark {
            //     background-color: #f9f9f9;
            // }
        }
    
    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}