.projectWrapper {
    min-height: 1200px;
    .projectList {
        // width: 1400px;
        padding: 100px 0 0 0;
     
        .projectItem {
            width: 700px;
            // margin: 50px 0;
            font-size: 18px;
            line-height: 25px;

            .projectTitle { 
                margin-left: 100px;
                margin-bottom: 95px;
                color: rgba(0, 0, 0, 0.85);
                width: 1064px;
                height: 25px;
                line-height: 50px;
                font-family: MicrosoftYaHei;
                font-size: 22px;
            }
        
        }
        //     // border-bottom: 1px solid #ddd; 
        }
    
    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}