.team-manage {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    
}

.personData{
    // text-align: left;
    // margin-right: 50px;
    // margin-left: 30px;
    font-size: 14px;
    font-family: Times New Roman;
}

