.team-manage {
    width: 100%;
    margin-left: 2%;
    margin-top: 10px;
    
    .personData{
        font-size: 24px;
        font-family: Times New Roman;
    }

    .imgWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .pagination{
        display: flex;
       
        justify-content: flex-end;
        padding: 0 0 20px 0 ;
    }

     .personImg{
         width: 170px;
         height: 170px;
         margin-top: -35px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    // .left{
    //     margin-top: 10px;
    
    
    // }
    // .content{
    //     margin-top: 10px;
    
    // }
    
    // .foot{
    //     margin-top: 10px;
    // }
}
