.team-manage {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    
    .personData{
        font-size: 24px;
        font-family: Times New Roman;
    }

    .imgWrapper {
        display: flex;
    }

    .pagination{
        display: flex;
       
        justify-content: flex-end;
        margin: 40px 50px;
    }

    // .personImg{
    //     margin-left: 50px;
    
    // }
    // .left{
    //     margin-top: 10px;
    
    
    // }
    // .content{
    //     margin-top: 10px;
    
    // }
    
    // .foot{
    //     margin-top: 10px;
    // }
}
