.userWrapper{
  display: flex;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  border-radius: 6px;
  padding: 16px;
}

.leftWrapper{
  flex:3;

}

.rightWrapper{
  flex:7;
  margin-left: 50px;
  .directories{
    display: flex;
    flex-wrap: wrap;
    .firstQueryDirectory{
      display: flex;  
      width: 30%;
      height: 100px;
    }
    .QueryDirectories{
      width: 20%;
      select{
        width: 50%;
      }
    }
    
  }
  .buttons{
    display: flex;
    margin: 20px;
    justify-content:flex-start;
    align-items: center;
    button{
      margin: 10px;
    }
  }
}