.detailWrapper {
    width: 1300px;
    margin: 0 auto;
    min-height: 500px;
    line-height: 2;
    font-family: NSimSun;
    // padding: 0 10%;

    .groupName {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .imgWrapper {
        text-align: center;
        // margin-top: 20px;
        // margin-bottom: 30px;
        margin: 40px 0;
    }

    .detailContent {
        font-size: 16px;
        font-weight: 550;
        margin: 20px 0;
        width: 800px;
        text-indent: 2em;
        margin-left: 240px;
        line-height: 30px;
    }
}