.ManageWrapper {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 16px;
}

.leftWrapper {
  flex: 3;
  .subMenu {
    border-radius: 0;
    background-color: #43b344;
    color: #fff;
    font-size: 20px;
  
    .menuItem {
      color: #000;
      font-size: 18px;
      text-align: center;
      padding: 0 !important;
    }
  
    :global {
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: rgb(197, 253, 214);
        &::after {
          border-right: 3px solid #43b343;
        }
      }
    }
  }
  button {
    width: 100%;
    font-size: 18px;
    height: 40px;
    background-color: #43b344;
    border-color: #fff;

    &:hover {
      color: #1890ff;
      background-color: #43b344;
      border-color: #fff;
    }
  }
}

.rightWrapper {
  flex: 6;
  margin-left: 16px;
  width: fit-content;

  .directories {
    flex-wrap: wrap;
    padding-left: 4px;
    width: 690px;

    .QueryDirectories {
      width: 140px;
      margin-right: 30px;
      padding-top: 20px;
      float: left;

      h4 {
        font-weight: 500 !important;
      }

      select {
        width: 140px;
        border: 1px #666 dotted;
        font-size: 16px;
        overflow: auto;
        outline: none;
      }

      .category {
        color: #08b702;
      }
    }

    &::after {
      display: table;
      content: "";
      clear: both;
    }
  }

  .buttons {
    margin: 20px;
    justify-content: flex-start;
    align-items: center;

    button {
      margin: 10px;
      width: 160px;
      height: 45px;
      background-color: #43b344;
      color: #fff;
      font-size: 20px;
      outline: none;
      border-color: #fff;
      border-radius: 3px;
    }
  }
}