$theme-black: #0E1833;
$theme-red: #F23340;
$cWhite: #FFFFFF;
$button-red: linear-gradient(171deg,rgba(237,38,66,1) 0%,rgba(255,82,59,1) 100%);
$primary-color: #2F88FF;
$primary-color-light: rgba(47,136,255,.8);
$text-color: #333;
$text-color-light: #999;