.searchPanel{
    display: flex;
    padding: 16px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    border-radius: 6px;
    background: #fff;
    .formWrapper{
        flex: 1 0 auto;
    }
    .buttonWrapper{
        flex: 0 0 auto;
        .imgButton{
            margin-left: 5px;
        }
    }
}