@import '../../../LESSLIB';

.loginWrapper {
  display: inline-block;

  .login {
    a {
      font-size: 16px;
      color: #5A1A8B;
    }

    p {
      display: inline-block;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      width: 88px;
      height: 34px;
      //margin-left: 16px;
      border-radius: 17px;

      &.active {
        font-size: 16px;
        color: #5A1A8B;
        background: #fff;
      }

      &.default {
        //color: #f23340;
        border: 1px solid $theme-red;
      }
    }
  }
}

.loginModal {
  :global {
    .ant-modal-body {
      padding: 32px 40px;
    }
  }

  .formWrapper {
    margin-top: 40px;
  }

  .signButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    width: 248px;
    height: 34px;
    border-radius: 17px;
    color: rgba(255, 255, 255, 1);
    background: $button-red;
  }
}

.userName {
  color: #5A1A8B;
}

:global {
  .user-dropdown {
    .ant-dropdown-menu {
      background: rgba(14, 24, 51, 0.65);
    }

    .ant-dropdown-menu-item {
      color: rgba(255, 255, 255, 0.85);
      font-size: 14px;
    }

    .ant-dropdown-menu-item-active {
      background: rgba(34, 50, 97, 0.65);
    }

    .ant-dropdown-menu-item-selected {
      color: #f23340;
      background: rgba(34, 50, 97, 0.65);
    }
  }
}